@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.all-insights {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
}
